<div class="row collapse fullWidth" style="height:100%;">
<%= render "scripts" %>

 <div id="maps" class="large-7 large-push-5 columns" style="height:100%;">

   <%= render "map" %>

 </div>
  
 <div class="large-5 large-pull-7 columns" style="height:100%;">
	
	<%= form_tag '/', :method => :get, :remote => true do %>
     <div id="search-box" class="row collapse">
		<div class="small-10 columns">
	     	<%= text_field_tag "search", nil, placeholder: "Search Jobs" %>
		</div>
		<div class="small-2 columns">
			<%= button_tag(type: "submit", class: "button postfix") do %>
			   <i class="fi-magnifying-glass"></i>
			<% end %>
		</div>
     </div>

	<% end %>
	
 <div id="results" class="row" style="height:100%; overflow-y:auto;">
	
	<%= render "results" %>
	
 </div>	

 </div>
 
</div>
 